/* About/bio section */
.about_logo {
    height: 1.5rem;
}

.about_title {
    display: inline;
    vertical-align: top;
}

.about_title::before {
    content: none;
}

/* Social media links */
.aside_social-links {
    padding: 0;
}

.aside_social-links li {
    display: inline-block;
}

.aside_social-links li::marker {
    content: none;
}
