<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>
        <div class="page">
            <header class="page_header">
                {{- partial "header.html" . -}}
            </header>
            <section class="page_body">
                {{- block "main" . }}{{- end }}
            </section>
            <section class="page_aside">
                <div class="aside_about">
                    {{- partial "about.html" . -}}
                </div>
                <hr>
                <div class="aside_content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>
            <footer class="page_footer">
                {{- partial "footer.html" . -}}
            </footer>
        </div>
    </body>

</html>
