{{ with .Site.Params.about }}
<div class="aside_about">
    {{ with .logo }}<span class="about_logo" role="img">{{ . }}</span>&nbsp;{{ end }}
    {{ with .logo_image }}<img class="about_logo" src="{{ . | absURL }}" alt="Logo">{{ end }}
<h1 class="about_title">{{ .title }}</h1>
{{ with .description }}<p class="about_description">{{ . | markdownify }}</p>{{ end }}
</div>
{{ end }}

<ul class="aside_social-links">
    {{ range $item := .Site.Params.socialLinks }}
    <li>
        <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" title="{{ $item.title }}"><i class="{{ $item.icon }}" aria-hidden="true"></i></a>&nbsp;
    </li>
    {{ end }}
</ul>
